@charset "UTF-8";


  @import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600&family=Inconsolata:wght@600&family=Outfit:wght@300;400;600&family=Poppins:wght@300;400;500&family=Quicksand:wght@300;400;500&family=Red+Hat+Display:wght@300;400;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Edu SA Beginner', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Red Hat Display', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

hr {
    background-color: black;
    padding: 2px;
    border: none;
}

h1 {
    text-align: center;
    padding: 20px;
    transform: translateY(+15px);
    
}

main {
    
    background-color: yellow;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px black;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}

main > div.input {
 
    text-align: center;
    padding: 20px;
    font-weight: 600;
    display: block;
   
    
    

}

main > div.input > input {
    height: 35px;
    border-radius: 5px;
    border: none;
    
    
}

input[type="text"] {
    width: 200px; /* Defina a largura do input conforme necessário */
    text-align: center; /* Centralizar o texto horizontalmente */
    line-height: 30px; /* Centralizar o texto verticalmente, ajuste conforme necessário */
    padding: 5px; /* Adicionar um pouco de espaço interno para melhor aparência */ 
    font-weight: bold;
  }

  input[type="number"] {
    width: 200px; /* Defina a largura do input conforme necessário */
    text-align: center; /* Centralizar o texto horizontalmente */
    line-height: 30px; /* Centralizar o texto verticalmente, ajuste conforme necessário */
    padding: 5px; /* Adicionar um pouco de espaço interno para melhor aparência */
    font-weight: bold;
  }

 main > div.input > label {

    padding: 15px;
    
    
    
}

main > button {
    display: block;
    margin: auto;
    background-color: black;
    color: rgb(204, 204, 18);
    border: none;
    width: 75%;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    
}

#resultado {
    background-color: black;
    width: 75%;
    display: block;
    margin: auto;
    margin-top: 18px;
    height: 120px;
    border-radius: 10px;
    color: yellow;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
    
}
#resultado > p {
    font-size: 1em;
    text-align: center;
    margin-top: 20px;
}


